
.main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw; 
}

.th-header { 
    white-space: normal; /* Prevent text wrapping */
    overflow: hidden;
    text-overflow: ellipsis; /* Show ellipsis for overflowing text */
    background:#3023e4;
    color:white !important;
    border-color: black !important;
}

.truncate-cell {
  white-space: nowrap;
  background:#ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  padding-top:5vh;
  padding-bottom: 2vh;
}

.search-and-buttons{
  display:flex;
  align-items:center;
  justify-content:center;
  width:80%;
}

.viewtype-buttons{
  display:flex;
  justify-content:right;
  align-items: center;
  width:50%;
}

.dropdowns{
  display:flex;
  align-items: center;
  justify-content: left;
  width: 50%;
}

.sticky-column{
  position:sticky;
  left: 0;
  z-index:1;
  background:#ffffff;
}

.default-header{
  position:relative;
  z-index:2;
  color: white !important;
  background:#3023e4;
  border-color:black !important;
}

.default-row{
  position:relative;
  z-index: 0;
  background:#ffffff;
}

.th-fixed-header{
  position:sticky;
  left:0;
  z-index:3;
  background:#3023e4;
  color:white !important;
  border-color: black !important;
  white-space: nowrap;
}