
.main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw; 
}

.th-header { 
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden;
    text-overflow: ellipsis; /* Show ellipsis for overflowing text */
}

.truncate-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  padding-top:5vh;
  padding-bottom: 2vh;
}

.search-and-buttons{
  display:flex;
  align-items:center;
  justify-content:center;
  width:80%;
}

.viewtype-buttons{
  display:flex;
  justify-content:right;
  align-items: center;
  width:50%;
}

.dropdowns{
  display:flex;
  align-items: center;
  justify-content: left;
  width: 50%;
}