
.download-div{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
    margin-top:2vh;
    text-align:center;
}

.data-download-button{
    display:flex;
    flex-direction:column;
    width:100%;
}

.button-group{
    display:flex;
    flex-direction:row;
    align-items:top;
    text-align:center;
    justify-content:center;
    width:95%;
    height:100%;
    margin-top:1vh;
    margin-bottom:1vh;
}

.header-buttons{
    flex: 1;
    border: 1px solid black;
}

.indiv_button{
    margin-bottom:1vh;
    width:80%;
    background-color:#b4ddef;
    color:black;
    border:1px solid black;
}

.lone_button{
    color: black;
    border: 1px solid black;
    background-color: #b4ddef;
    width:20%; 
    margin-bottom: 1vh;
}
